.cartitem__container {
    width: 100%;
    min-height: 25vh;
    margin-bottom: 50px;
}
.cartitem__right {
    height: 100%;
}
.cartitem__name:hover {
    text-decoration: underline;
    cursor: pointer;
}
.changeAmountOfCartItem__container {
    width: 30px;
    
    margin-right: 10px;
    height: 100%;
}
.change__btn {
    width: 30px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
   margin: 15px;
}
.change__btn:active {
  transform: translateY(2px) ;
}
.changeAmountOfCartItem__container > p {
    font-size: large;
}