.container {
    width: 91%;
    margin: auto;
    
    height: 10vh;
    
}
.logo__container {
    width: 50px;
    height: 50px;
}
.logo__container > img {
    width: 100%;
    height: 100%;
}
.categorys_container {
    width: 20%;
    text-transform: uppercase;
    height: 100%;
}
.currencyswitcher__cart__icon_holder {
    width: 20%;
}
.currencyswitcher__cart__icon_content {
    width: 70%;
}

.cartOverlay__ {
    right: 0px;
}
.dropdown__item {
    width: 100%;
    background-color: red;
}

.burgermenuicon__ {
    display: none;
    
}
.burgermenuicon__ > img {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 900px) {
    .burgermenuicon__ {
        display: block;
        width: 30%;

    }
    .burgermenuicon__:active > img{
        transform: translateY(3px);
        transition: .5s;
    }
    .categorys_container {
        display: none !important;
    }
    .currencyswitcher__cart__icon_holder {
        width: 30%;
    }
}
.menuContent__ {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    left: 0;
    z-index: 100;
    align-items: flex-start;
    
}